html {
  height: 100%;
}

body {
  height: auto;
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #f3f5f9;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  min-width: 1200px;
}
